body {
  background-color: rgb(87, 87, 87);
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 15px;
}

h2, h3 {
 margin-bottom: 30px;
  text-align: center;
}

.container {
   text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 400px;
  height: 300px;
}

.botoes {
  display: flex;
  gap: 10px; 
} 

.botao {
  border: 2px solid black;
  padding: 8px 16px;
  color: white;
  background-color: transparent;
  border-radius: 6px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botao:hover {
  background-color: #aaa;
}
